<mat-card class="content-container bg-info text-white" style="border-radius:20px;">
    <mat-card-title>
        <h1 class="my-3 display-1 text-center">
            <span style="color:#ffffff">R</span><span style="color:#020077">obert</span>&nbsp;
            <span style="color:#ffffff">J</span><span style="color:#020077">eutter</span>
        </h1>
    </mat-card-title>

    <mat-card-subtitle>
        <p class="mb-5 lead text-center">Inventor &#183; Entrepreneur &#183; Student</p>
    </mat-card-subtitle>

    <mat-card-content>
        <div class="row">
            <div class="col-md-3">
                <img src="../../../assets/pic.png" class="card-image" alt="ProfilBild">
            </div>

            <div class="col-md-5">

                <p class="card-text mx-3">
                    Welcome to my Card,<br> currently I am studying at <i><a href="http://www.tu-ilmenau.de">Technical University of Ilmenau</a></i> in the fields of Computer Sience and Biomechatronics.<br> In addition i am an active member of the
                    <a href="https://www.bi-club.de">student club</a>, <a href="https://ingenieure-ohne-grenzen.org/">Engineers without Borders</a> and building up my own business
                    <a href="https://www.northscorp.de">NorthScorp</a>.<br> My Hobbies include Programming, building Robots ever since my <a href="https://www.robocup.org/">RoboCup</a> Qualifications and electromechanical Machines.
                </p>
            </div>

            <div class="col-md-4">
                <h3 class="mb-3 text-center">Skilltree</h3>
                <div class="text-center" id="pro">
                    <h5 class="imgcent text-center text-muted">Progamming </h5>
                    <div class="show_first" id="pro1">
                        <p>
                            <span class="txt-rotate" data-period="2000" data-rotate='[ "C", "C#", "C++", "Python", "Java" ]'></span>
                        </p>
                    </div>
                    <div class="show_hover text-center m-auto" id="pro2">
                        <img class="skill mx-1" src="../../../assets/icons/code_c.png" alt="C">
                        <img class="skill mx-1" src="../../../assets/icons/code_csharp.png" alt="C#">
                        <img class="skill mx-1" src="../../../assets/icons/c++.png" alt="C++">
                        <img class="skill mx-1" src="../../../assets/icons/Python.png" alt="Phyton">
                        <img class="skill mx-1" src="../../../assets/icons/java.png" alt="Java">
                    </div>
                </div>

                <div class="text-center" id="full">
                    <h5 class="imgcent text-center text-muted">Web Development </h5>
                    <div class="show_first" id="full1">
                        <p>
                            <span class="txt-rotate" data-period="2000" data-rotate='[ "HTML5", "CSS", "JavaScript", "PHP", "NodeJS", "SQL", "MongoDB" ]'></span>
                        </p>
                    </div>
                    <div class="show_hover text-center m-auto" id="full2">
                        <img class="skill mx-1" src="../../../assets/icons/html.png" alt="HTML5">
                        <img class="skill mx-1" src="../../../assets/icons/css.png" alt="CSS">
                        <img class="skill mx-1" src="../../../assets/icons/javascript.png" alt="JavaScript">
                        <img class="skill mx-1" src="../../../assets/icons/php.png" alt="PHP">
                        <img class="skill mx-1" src="../../../assets/icons/nodejs.png" alt="NodeJS">
                        <img class="skill mx-1" src="../../../assets/icons/sql.png" alt="SQL">
                        <img class="skill mx-1" src="../../../assets/icons/mongodb.png" alt="MongoDB">
                    </div>
                </div>

                <div class="text-center" id="cad">
                    <h5 class="imgcent text-center text-muted">CAD, Graphic & Design </h5>
                    <div class="show_first" id="cad1">
                        <p>
                            <span class="txt-rotate" data-period="2000" data-rotate='[ "Inventor", "OpenSCAD", "Photoshop", "Gimp", "Bootstrap" ]'></span>
                        </p>
                    </div>
                    <div class="show_hover text-center m-auto" id="cad2">
                        <img class="skill mx-1" src="../../../assets/icons/Inventor.png" alt="Inventor">
                        <img class="skill mx-1" src="../../../assets/icons/openscad.png" alt="OpenSCAD">
                        <img class="skill mx-1" src="../../../assets/icons/photoshop.png" alt="Photoshop">
                        <img class="skill mx-1" src="../../../assets/icons/gimp.png" alt="Gimp">
                        <img class="skill mx-1" src="../../../assets/icons/bootstrap.png" alt="Bootstrap">
                    </div>
                </div>

            </div>
        </div>
    </mat-card-content>

    <mat-card-actions class="text-center">
        <ul class="list-inline-item justify-content-around">
            <li class="list-inline-item mx-3">
                <a href="mailto:jeutter@northscorp.de" target="_blank" matTooltip="E-Mail" matTooltipPosition="above">
                    <mat-icon>email</mat-icon>
                </a>
            </li>
            <li class="list-inline-item mx-3">
                <a href="http://www.github.com/wieerwill" target="_blank" matTooltip="Github" matTooltipPosition="above">
                    <mat-icon>code</mat-icon>
                </a>
            </li>
            <li class="list-inline-item mx-3">
                <a href="http://www.northscorp.de" target="_blank" matTooltip="NorthScorp" matTooltipPosition="above">
                    <mat-icon>web</mat-icon>
                </a>
            </li>
            <li class="list-inline-item mx-3">
                <a href="http://www.tu-ilmenau.de" target="_blank" matTooltip="University" matTooltipPosition="above">
                    <mat-icon>science</mat-icon>
                </a>
            </li>
            <li class="list-inline-item mx-3">
                <a href="https://www.udemy.com/user/robert-jeutter/" target="_blank" matTooltip="Udemy" matTooltipPosition="above">
                    <mat-icon>school</mat-icon>
                </a>
            </li>
            <li class="list-inline-item mx-3">
                <a href="https://www.freecodecamp.org/robert-jeutter" target="_blank" matTooltip="FreeCodeCamp" matTooltipPosition="above">
                    <mat-icon>cast_for_education</mat-icon>
                </a>
            </li>
            <li class="list-inline-item mx-3">
                <a href="https://www.instagram.com/northscorp/" target="_blank" matTooltip="Instagram" matTooltipPosition="above">
                    <mat-icon>emoji_people</mat-icon>
                </a>
            </li>
        </ul>
    </mat-card-actions>
</mat-card>